{% extends "varios/principal.html" %}
{% block cuerpo %}
<h3>Ingrese su PIL</h3>
<div align: "center"> 
  <table align="center" class="table-bordered table-condensed">
    {% for key,value in matriz.items %}
        {% if key == 1 or key == 4 or key == 7 %}
          <tr>
        {% endif %}

        <td><small>{{key}}</small> <br> {{value}}</td>
        {% if key == 3 or key == 6 or key == 9 %}
         
          </tr>
        {% endif %}
      
    {% endfor %}
    
  </table>
    <br>
  


  
<form method="POST" action="{% url 'login_ok' %}" >
    <div align="center">
        
      <input name="pil" id="pil" class="mostrar form-control input-block-level" type="password" style="text-align: center"></input>
      <div id="inlineKeypad"></div>
    </div>
    </br>
    <div align="center">
      <button class= "cerrar btn btn-sm btn-info" type="submit">Enviar</button>{% csrf_token %}
    </div>

</form>

{% endblock %}




    
  
 