{% extends "varios/principal.html" %}
{% block cuerpo %}
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      	<div class="container fluid">
        	<div class="navbar-inner">
          		<div class="navbar-left">
	          		<div class="navbar-left">
	          			<img src="{{ STATIC_URL }}img/escudo_transp.png" style="max-width: 40px; max-height: 40px">
	          		</div>
	          		<a class="navbar-brand" href="#">Sistema de Identificación Prontuarial</a>
	          	</div>
	        	<ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-cog"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="" data-toggle="modal" data-target="#myModal"><i class="glyphicon glyphicon-pencil"></i>Cambiar contraseña</a></li>
                            <li class="divider"></li>
                            <li><a href="{% url 'cerrar_sesion' %}"><i class="glyphicon glyphicon-off"></i>Cerrar sesión</a></li>
                        </ul>
                    </li>
                </ul>
	        </div>
    	</div>
    </div>
    <div class="container theme-showcase" role="main">
    	<div class="jumbotron" align="center">
			<h1>BIENVENIDO</h1>
            <h1>BIENVENIDO</h1>
            <h1>BIENVENIDO</h1>
            <h1>BIENVENIDO</h1>
            <h1>BIENVENIDO</h1>
            <h1>BIENVENIDO</h1>
            <h1>BIENVENIDO</h1>
            <h1>BIENVENIDO</h1>
            <h1>BIENVENIDO</h1>
            <h1>BIENVENIDO</h1>
            <h1>BIENVENIDO</h1>
            <h1>BIENVENIDO</h1>
    	</div>
    </div>
    <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                    </div>
                    <div class="modal-body">
                        {% include 'varios/form_change_pass.html' %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary">Guardar</button>
                    </div>
                </div>
            </div>
        </div>	 
    <!--Fin Modal-->    

{% endblock%}
