<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/x-icon" href="{{ STATIC_URL }}static/images/favicon.ico" />
    <title>Login New SIP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="{{ STATIC_URL }}css/bootstrap3.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/bootstrapValidator.css" rel="stylesheet">
    
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap3.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/funciones.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrapValidator.js"></script>
    

  </head>

  <body>
    <div class="container">
      <div class="form-signin">
        <form class="form_login" action="." method="post">{% csrf_token %}                                        
          <div align="center">
            <img src="{{ STATIC_URL }}img/escudo_transp.png" style="max-width: 70px; max-height: 70px"> 
          </div>
          <div align="center">
            <h3 class="form-signin-heading">Iniciar sesión</h3>
          </div>  
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-user white"></i></span>
              {{login.usuario}}
            </div>  
          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock white"></i></span>
              {{login.password}}
            </div>  
          </div>
          <div align="center">
                <button class= "btn btn-sm btn-info" type="submit">Ingresar</button>
          </div>
        </form>  
        </br>
        <form class="form-recuperarPassword" action="" method="post">{% csrf_token %}    
          <div class="form-group">
            <div align="left">
              <a data-target="#myModal" data-toggle="modal">¿Olvidó su contraseña?</a>
            </div>  
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                  <h3 class="modal-title" id="myModalLabel">Recuperación de Contraseña</h3>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="glyphicon glyphicon-envelope white"></i></span>
                      <input class="form-control input-block-level" placeholder="Em@il"></input>
                    </div>
                  </div> 
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-sm btn-info">Enviar</button>
                </div>
              </div>
            </div>
          </div>
        </form>
        <div align="left">     
          <a href="">¿Necesita abrir una cuenta?</a> <!--falta agregar adonde linkea-->
        </div>  
      </div>
    </div> 
  
    <script type="text/javascript" src="{{ STATIC_URL }}js/funciones.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap3.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrapValidator.js"></script>
    

    <!--<script src="../assets/js/jquery.js"></script>
    <script src="../assets/js/bootstrap-transition.js"></script>
    <script src="../assets/js/bootstrap-alert.js"></script>
    <script src="../assets/js/bootstrap-modal.js"></script>
    <script src="../assets/js/bootstrap-dropdown.js"></script>
    <script src="../assets/js/bootstrap-scrollspy.js"></script>
    <script src="../assets/js/bootstrap-tab.js"></script>
    <script src="../assets/js/bootstrap-tooltip.js"></script>
    <script src="../assets/js/bootstrap-popover.js"></script>
    <script src="../assets/js/bootstrap-button.js"></script>
    
    <script src="../assets/js/bootstrap-carousel.js"></script>
    <script src="../assets/js/bootstrap-typeahead.js"></script>-->
  </body>
</html>
