<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/x-icon" href="{{ STATIC_URL }}static/images/favicon.ico" />
    <title>Login New SIP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="{{ STATIC_URL }}static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}static/css/style.css" rel="stylesheet">
    
    <script type="text/javascript" src="static/js/jquery.js"></script>
    <script type="text/javascript" src="static/js/jquery.ketchup.js"></script>
    <script type="text/javascript" src="static/js/jquery.ketchup.validations.js"></script>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <!--<link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="../assets/ico/favicon.png">-->
  </head>

  <body>
    <div class="container">
      <form class="form-signin">
        <div align="center">
          <img src="static/images/escudo_transp.png" style="max-width: 70px; max-height: 70"> 
        </div>
        <div align="center">
          <h3 class="form-signin-heading">Iniciar sesión</h3>
        </div>  
        <input type="text" class="input-block-level" placeholder="Usuario">
        <input type="password" class="input-block-level" placeholder="Contraseña">
        <div >
          <div align="right">
            <button class="btn btn-small btn-info" type="submit">Ingresar</button>
          </div>
          <div align="left">
            <a href="">¿Olvidó su contraseña?</a> <!--falta agregar adonde linkea-->
            </br> 
            <a href="">¿Necesita abrir una cuenta?</a> <!--falta agregar adonde linkea-->
          </div>
        </div>                
      </form>
    </div> 

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
    <!--<script src="../assets/js/jquery.js"></script>
    <script src="../assets/js/bootstrap-transition.js"></script>
    <script src="../assets/js/bootstrap-alert.js"></script>
    <script src="../assets/js/bootstrap-modal.js"></script>
    <script src="../assets/js/bootstrap-dropdown.js"></script>
    <script src="../assets/js/bootstrap-scrollspy.js"></script>
    <script src="../assets/js/bootstrap-tab.js"></script>
    <script src="../assets/js/bootstrap-tooltip.js"></script>
    <script src="../assets/js/bootstrap-popover.js"></script>
    <script src="../assets/js/bootstrap-button.js"></script>
    <script src="../assets/js/bootstrap-collapse.js"></script>
    <script src="../assets/js/bootstrap-carousel.js"></script>
    <script src="../assets/js/bootstrap-typeahead.js"></script>-->
  </body>
</html>
