<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <link rel="shortcut icon" type="image/x-icon" href="{{ STATIC_URL }}img/favicon.ico"/>
        <title>Prontuario Policial</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link href="{{ STATIC_URL }}css/bootstrap3.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}css/bootstrapValidator.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}css/datepicker3.css" rel="stylesheet">
        <link rel="stylesheet" href="{{STATIC_URL}}css/demo_table.css" type="text/css" />

        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap3.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/funciones.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-datepicker.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrapValidator.js"></script>
        <script type="text/javascript" src="{{STATIC_URL}}js/jquery.dataTables.js"></script>
    </head>
    <body>
        


       
        {% block cuerpo %}
            
        {% endblock %}
     
        <!--script type="text/javascript" src="{{ STATIC_URL }}js/funciones.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap3.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrapValidator.js"></script-->
    </body>
</html>