/*CSS del body*/
body {
  padding-top: 70px;
  padding-bottom: 40px;
  background-color: #57BCDA;
}

/*CSS del fondo del formulario de login*/
.form-signin {
  max-width: 300px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
         border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
         box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.form-signin .form-signin-heading,
.form-signin {
  margin-bottom: 10px;
}


/*CSS clase para dar color blanco, lo uso para
el color de los íconos*/
.white, .white a{
  color: #FFF;
}

/*CSS clase para poner color celeste el fondo de los iconos de los
text box*/
.input-group-addon{
  background-color: #57BCDA
}

