
{% if not unidad.id %}
<form role="form"  method="POST" action ="{% url 'unidad' %}">{% csrf_token %}
{% else %}
<form role="form"  method="POST" action ="{% url 'edit_unidad' unidad.id %}">{% csrf_token %}
{% endif %}
	<div class="form-group">
		 <label for="ciudad" class>Ciudad</label>{{form.ciudad}}
	
	{% if form.ciudad.errors %}
			<div class="alert alert-danger alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<strong> {{ form.ciudad.errors }} </strong>
			</div>
	{% endif %}
</div>


	<div class="form-group">
		 <label for="descripcion" class>Descripción</label>{{form.descripcion}}
	

	{% if form.descripcion.errors %}
			<div class="alert alert-danger alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<strong> {{ form.descripcion.errors }} </strong>
			</div>
		{% endif %}
</div>

	{% if not unidad.id %}
	 	<button type="submit" class="btn btn-info pull-right">Nuevo</button><br><br>
	 {% else %}
	 	<button type="submit" class="btn btn-info pull-right">Modificar</button>  
	 	<a href="{% url 'unidad' %}" class="btn btn-link pull-right" >Cancelar</a>
	 	<br><br>
	 {% endif %}
</form>