{% if not pais.id %}
	<form class="form_pais" role="form"  method="POST" action ="{% url 'pais' %}">{% csrf_token %}
{% else %}
	<form role="form"  method="POST" action ="{% url 'edit_pais' pais.id %}">{% csrf_token %}
{% endif %}
	<div class="form-group" >
		<label for="descripcion" class>Pais:</label>{{form.descripcion}}
	

	{% if form.descripcion.errors %} 
		<div class="alert alert-danger alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			<strong> {{form.descripcion.errors}} </strong>
		</div>
	{% endif %}
	</div>

{% if not pais.id %}
 	<button type="submit" class="btn btn-sm btn-info pull-right"><i class="glyphicon glyphicon-saved">Guardar </i> </a></button><br><br>
{% else %}
	<button type="submit" class="btn btn-sm btn-info pull-right"><i class="glyphicon glyphicon-saved">Modificar </i> </a></button>   
	<a href="{% url 'pais' %}" class="btn btn-link pull-right" >Cancelar</a>
	<br><br>
{% endif %}
	</form>