{% if not pais.id %}
<form role="form"  method="POST" action ="{% url 'pais' %}">{% csrf_token %}
{% else %}
<form role="form"  method="POST" action ="{% url 'edit_pais' pais.id %}">{% csrf_token %}
{% endif %}
	<div class="form-group">
		 <label for="descripcion" class>Descripcion</label>{{form.descripcion}}
	</div>
	{% if not pais.id %}
	 	<button type="submit" class="btn btn-info pull-right">Nuevo</button><br><br>
	 {% else %}
	 	<button type="submit" class="btn btn-info pull-right">Modificar</button>  
	 	<a href="{% url 'pais' %}" class="btn btn-link pull-right" >Cancelar</a>
	 	<br><br>
	 {% endif %}
</form>