{% extends "accounts/principal.html" %}
{% block cuerpo %}
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      	<div class="container fluid">
        	<div class="navbar-inner">
          		<div class="navbar-left">
	          		<div class="navbar-left">
	          			<img src="{{ STATIC_URL }}img/escudo_transp.png" style="max-width: 40px; max-height: 40px">
	          		</div>
	          		<a class="navbar-brand" href="#">  Administraci&oacute;n </a>
	          	</div>
	        	<ul class="nav navbar-nav navbar-right">
                    <li>
                            <a href="#"> <i class="glyphicon glyphicon-user"></i> Gesti&oacute;n de Usuarios</a>
                        </li>
                    <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="glyphicon glyphicon-tasks"></i> Datos Referenciales<strong class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{% url 'pais' %}">Paises</a>
                                </li>
                                <li>
                                    <a href="{% url 'provincia' %}">Provincias</a>
                                </li>
                                <li>
                                    <a href="{% url 'departamento' %}">Departamentos</a>
                                </li>
                                <li>
                                    <a href="{% url 'ciudad' %}">Ciudades</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="{% url 'unidad' %}">Unidades Regionales</a>
                                </li>
                                <li>
                                    <a href="{% url 'dependencia' %}">Dependencias</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="{% url 'sexo' %}">Sexo</a>
                                </li>
                                <li>
                                    <a href="{% url 'estado_civil' %}">Estado Civil</a>
                                </li>
                                
                                <li>
                                    <a href="{% url 'tipo_doc' %}">Tipo de Documento</a>
                                </li>
                                
                                <li>
                                    <a href="{% url 'profesion' %}">Profesi&oacute;n/Oficio</a>
                                </li>
                                
                            </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-cog"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="" data-toggle="modal" data-target="#myModal"><i class="glyphicon glyphicon-pencil"></i>Cambiar contraseña</a></li>
                            <li><a href="{% url 'prontuarios_home' %}" ><i class="glyphicon glyphicon-arrow-left"></i>Volver al Sistema</a></li>
                            <li class="divider"></li>
                            <li><a href="{% url 'cerrar_sesion' %}"><i class="glyphicon glyphicon-off"></i>Cerrar sesi&oacute;n</a></li>

                        </ul>
                    </li>
                </ul>
	        </div>
    	</div>
    </div>
    <div class="container theme-showcase" role="main">
    	<div class="jumbotron">
            {% block cuerpo_admin %}
			<h1>BIENVENIDO <small> Sitio de administraci&oacute;n </small> </h1>
            {% endblock cuerpo_admin %}
        </div>
    </div>
    <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                        <h4 class="modal-title" id="myModalLabel">Cambiar la contraseña</h4>
                    </div>
                    <div class="modal-body">
                        {% include 'accounts/form_change_pass.html' %}
                    </div>
                    
                </div>
            </div>
        </div>	 
    <!--Fin Modal-->    

{% endblock%}
