{% extends "administracion/logueado_admin.html" %}
{% block cuerpo_admin %}
		<h3> ABM de {{clase |capfirst }} </h3>
		<hr>
			
			{{form}}
		<hr>
		<h4> <b>Listado General</b> </h4>
			<table class="table" id="table" name="table">
				<thead>
					<tr>
						{% for columna in columns %}
							<th>{{ columna | capfirst }}</th>
						{% endfor %}
						<th>
							
						</th>
					</tr>

				</thead>
				<tbody>
					{% for elemento in lista %}
						<tr>
							{% for columna in columns %}
								
								<td>{{elemento}}{{.columna}}</td>
								
							{% endfor %}
							<td>
								<a href="{% url 'edit_'|add:clase elemento.id %}"> <i class="glyphicon glyphicon-pencil"></i> </a>
								<a href="{% url 'remove_'|add:clase elemento.id %}"> <i class="glyphicon glyphicon-trash"></i> </a>

							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
	

{% endblock cuerpo_admin %}